html {
  background: url('../images/BackGround-Image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #2f2f2f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: url('../images/BackGround-Image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form1{
  background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input{
  font-family: 'Ariel', sans-serif;
}

input:placeholder-shown{
  color: #CACDCE;
}

::-webkit-input-placeholder {
   color: #CACDCE;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CACDCE;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CACDCE;
}

:-ms-input-placeholder {
   color: #CACDCE;
}

.position {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -260px;
}

.drop-down {
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border: 2px solid #706E6E;
}

.field {
  width: 250px;
  padding: 8px 15px 8px 15px;
  font-size: 14px;
  border: 2px solid #706E6E;
}

.modal {
    width: 500px;
    margin-left: -230px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px;
    z-index: 11;
}


/*@media only screen and (max-width: 800px) */
@media (max-width: 800px) and (min-width: 700px){
.modal{
  zoom:0.8;
}
}

@media (max-width: 699px) and (min-width: 500px){
.modal{
  zoom:0.7;
}
}

@media (max-width: 499px) and (min-width: 370px){
.modal{
  zoom:0.5;
}
}


@media (max-width: 369px) and (min-width: 260px){
.modal{
  zoom:0.4;
}
}


@media only screen and (max-width: 259px){
  .modal{
    zoom:0.25;
  }
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #454aad;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-success {
  background: #2ca010;
}

.btn-success:hover {
  background: #7ce861;
  background-image: -webkit-linear-gradient(top, #7ce861, #41c421);
  background-image: -moz-linear-gradient(top, #7ce861, #41c421);
  background-image: -ms-linear-gradient(top, #7ce861, #41c421);
  background-image: -o-linear-gradient(top, #7ce861, #41c421);
  background-image: linear-gradient(to bottom, #7ce861, #41c421);
}

.btn-danger {
  background: #d10404;
}

.btn-danger:hover {
  background: #fc7171;
  background-image: -webkit-linear-gradient(top, #fc7171, #ff4242);
  background-image: -moz-linear-gradient(top, #fc7171, #ff4242);
  background-image: -ms-linear-gradient(top, #fc7171, #ff4242);
  background-image: -o-linear-gradient(top, #fc7171, #ff4242);
  background-image: linear-gradient(to bottom, #fc7171, #ff4242);
}


/* tabs */

.tabs {
  width: 340px;
  margin-top: 25px;
}

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: solid 1px #d8d8d8;
  text-align: justify;
}

ul.tabs li {
  display: inline-block;
  width: 138px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

ul.tabs li.current {
  font-weight: bold;
  box-shadow: inset 0 -3px 0 0 rgba(50, 117, 193, 1);
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(50, 117, 193, 1);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(50, 117, 193, 1);
}

ul.tabs li a { 
  text-decoration: none;
  font-size: 20px; 
  }

  ul.tabs li.current a{
  font-weight: bold;
  }

.form-content {
  display: none;
}

.form-content.current {
  display: inherit;
}

.field {
  width: 295px;
  margin-top: 15px;
  padding: 12px 15px 12px 30px;
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  border: 1px solid #d8d8d8;
}

