
*{
	margin: 0;
}
html {
	height: 100%;
}
body {
  height: 94%;
  color: #2f2f2f;
  background: url('../images/BackGround-Image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.field {
  width: 250px;
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border: 2px solid #706E6E;
}

.drop-down {
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border: 2px solid #706E6E;
}

/*=======================Tabset=======================*/

.main-div{
    height:99%;
    padding:0;
    background-color: rgba(255,255,255,.95);
    margin: 10px 10px 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;   
}

.ladder-div{
    width:71%;
    height:80%;
    background-color: #A5BDFF;
    margin: 0 0 0 18px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    border-top-right-radius: 8px; 
    top:3%;
    left:9%;
    position: absolute;
}

/*====================================================*/


/*=======================Tabset=======================*/

/*Bottom*/
.tabrow {
  text-align: right;
  list-style: none;
  margin: 0 10px 10px;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
}

.tabrow li {
  cursor: pointer;  
  border: 1px solid #AAA;
  background: #D1D1D1;
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 30px;
}

.tabrow a {
  color: #555;
  text-decoration: none;
}

.tabrow li.selected {
  background: #FFF;
  color: #333;
  z-index: 2;
  border-top-color: #FFF;
}

.tabrow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #AAA;
  z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
  border: 1px solid #AAA;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tabrow li:before {
  left: -7px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ECECEC;
}

.tabrow li:after {
  right: -7px;
  border-top-left-radius: 6px;
  border-width: 1px 0px 0px 1px;
  box-shadow: -2px 0px 0 #ECECEC;
}

.tabrow li.selected:before {
  box-shadow: 2px 0px 0 #FFF;
}

.tabrow li.selected:after {
  box-shadow: -2px 0px 0 #FFF;
}

/*Left*/
.tabcol {
  text-align: left;
  list-style: none;
  margin: 0 10px 10px;
  padding: 0;
  line-height: 35px;
  height: 20%;
  width: 9%;
  overflow: hidden;
  font-size: 14px;
  top:3%;
  position: absolute;
}

.tabcol li {
  cursor: pointer;  
  border: 1px solid #AAA;
  background: #D1D1D1;
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  /*display: inline-block;*/
  /*position:relative;*/
  z-index: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 3px 1px 0px rgba(0, 0, 0, 0.4), inset 1px 0 #A5BDFF;
  text-shadow: 0 1px #FFF;
  padding: 0 25px;
}

.tabcol a {
  color: #555;
  text-decoration: none;
}

.tabcol li.selected {
  background: #A5BDFF;
  color: #000;
  z-index: 2;
  border-right-color: #A5BDFF;
}

.tabcol:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #AAA;
  z-index: 1;
}

.tabcol li:before,
.tabcol li:after {
  border: 1px solid #AAA;
  position: absolute;
  right: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tabcol li:before {
  top: -7px;
  border-top-right-radius: 6px;
  border-width: 0px 0px 1px 1px;
  box-shadow: 2px 0px 0 #ECECEC;
}

.tabcol li:after {
  bottom: -7px;
  border-bottom-left-radius: 6px;
  border-width: 0px 1px 1px 0px;
  box-shadow: -2px 0px 0 #ECECEC;
}

.tabcol li.selected:before {
  box-shadow: 0px 2px 0 #A5BDFF;
}

.tabcol li.selected:after {
  box-shadow: 0px -2px 0 #A5BDFF;
}






/*Top*/
.cust-tabs {
    height:45px;
    margin: 0 15% 0; 
    padding: 0 0 0 0;
    overflow:visible;
}

.cust-tab {
    cursor: pointer; 
    width:200px;
    height:45px;
    overflow:hidden;
    float:left;
    margin: 3% -15px 0 0;
}

.cust-tab-box {
    text-align: center;
    vertical-align: center;  
    height:50px;
    background: #fff;
    border-radius: 4px;
    border:2px solid #000;
    margin:0 10px 0;
    box-shadow: 0 0 2px  #fff inset;
    -webkit-transform: perspective(100px) rotateX(30deg);
    -moz-transform: perspective(100px) rotateX(30deg);
  
}

.cust-tab.active {
    z-index:40;
    position:relative;
    padding-bottom:1px;
}

.cust-tab.active .cust-tab-box{
    background-color: #D1D1D1;
    @include background-image(linear-gradient(top, #ccc , #ddd 3%, rgba(#eee, 0.5)));
    box-shadow : 0 0 2px 0 #fff inset;
}

.content {
    margin: 2% 15% 0; 
    z-index:1;
    height:75%;
    border:2px solid #000;
    background:#D1D1D1;
    position:relative;  
}

.clear {
    clear:both;
}

/*====================================================*/


/*=======================div scrollable=======================*/

.scrollable{
    background-color: #DEDEDE;
     overflow-y: scroll;
     margin: 10px 15px 10px;
     height: 300px;
     border: inset;
}

/*====================================================*/


/*=======================Context Menu=======================*/
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 0px;
    font-family: sans-serif;
    font-size: 14px;
    background: #fff;
    color: #555;
    border: 1px solid #C6C6C6;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    list-style-type: none;
}
        
.context-menu a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 6px;
    position: relative;
}
        
.context-menu a img,
.context-menu a i.fa {
    height: 20px;
    font-size: 17px;
    width: 10px;
    position: absolute;
}
        
.context-menu a span {
    color: #BCB1B3;
    float: right;
}
        
.context-menu a:hover {
    cursor: pointer;
    color: #fff;
    background: #3879D9;
}

/*====================================================*/


/*=========================Scrollable div for Flowchart canvas===========================*/

#scrollDiv{
    float: left; 
    width: 80%;
    height: 97%; 
    margin: 1%;    
    overflow:scroll;
    background-color: #EEEEEE;
    border: 2px solid #808080;
}

#scrollDiv-ladder{
    float: left; 
    width: 98%;
    height: 97%; 
    margin: 1%;    
    overflow:scroll;
    background-color: #EEEEEE;
    border: 2px solid #808080;
}

/*====================================================*/

/*===========================I/O panel=========================*/

#output-select{
    display: none;
    position:absolute;
    top: 7%;
    right: 2%; 
    width: 17%;
    height: 25%;
    border: 2px solid #808080;
    background-color: #EEEEEE;
    border-radius: 5px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#help{
    position:absolute;
    top: 3%;
    right: 2%; 
    width: 17%;
    height: 25%;
}

#input-select{
    display: none;
    position:absolute;
    top: 7%;
    right: 2%; 
    width: 17%;
    height: 25%;
    border: 2px solid #808080;
    background-color: #EEEEEE;
    border-radius: 5px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*====================================================*/

#save-content{
    position:absolute;
    bottom: 21%;
    right: 2%; 
    width: 17%;
}

/*==========================genererate button space ==========================*/

#generate-button{
    position:absolute;
    bottom: 11%;
    right: 2%; 
    width: 17%;
    }

/*====================================================*/

/*==========================Button==========================*/

.butn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #454aad;
  padding: 3px 10px;
  text-decoration: none;
}

.butn-s {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #67a832;
  padding: 3px 10px;
  text-decoration: none;
}

.butn-s:hover {
  background: #75cc2e;
  background-image: -webkit-linear-gradient(top, #6ed619, #6ed619);
  background-image: -moz-linear-gradient(top, #6ed619, #6ed619);
  background-image: -ms-linear-gradient(top, #6ed619, #6ed619);
  background-image: -o-linear-gradient(top, #6ed619, #6ed619);
  background-image: linear-gradient(to bottom, #6ed619, #6ed619);
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.gene-button{
  font-size: 18px;
}

/*====================================================*/