<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAD-Gen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/help.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <div class="main-div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center mt-bot2-0">
                     <span class="fnt-40 fnt-courier fnt-Bold"> Help </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 text-center">
                    <span class="fnt-25 fnt-courier fnt-Bold"> Creating Flowchart Objects </span>
                    </br>
                    <span class="fnt-15 fnt-courier fnt-Bold"> Right click for options </span>
                    </br>
                    <img src="../images/Creating_Object.gif" alt="Smiley face">
                </div>
                <div class="col-md-6 col-lg-6 text-center">
                    <span class="fnt-25 fnt-courier fnt-Bold"> Connecting Flowchart Objects </span>
                    </br>
                    <img src="../images/Connecting_Objects.gif" alt="Smiley face" height="350" width="350">
                </div>                
            </div>            
            <div class="row mt-top-20 mt-bot-20">
                <div class="col-md-6 col-lg-6 text-center">
                    <span class="fnt-25 fnt-courier fnt-Bold"> Assigning IO </span>
                    </br>
                    <img src="../images/Assign_IO.gif" alt="Smiley face" height="100%" width="85%">
                </div>     
                <div class="col-md-6 col-lg-6 text-center">
                    <span class="fnt-25 fnt-courier fnt-Bold"> Clear Connections </span>
                    </br>
                    <span class="fnt-15 fnt-courier fnt-Bold"> Right click for options </span>
                    </br>
                    <img src="../images/Clear_Connections.gif" alt="Smiley face" height="350" width="350">
                </div>                
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 text-center">
                </div>
                <div class="col-md-6 col-lg-6 text-center">
                    <span class="fnt-25 fnt-courier fnt-Bold"> Deleting Objects</span>
                    </br>
                    <span class="fnt-15 fnt-courier fnt-Bold"> Right click for options </span>
                    </br>
                    <img src="../images/Delete_Objects.gif" alt="Smiley face" height="350" width="350">
                </div>                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
</body>

</html>