<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAD-Gen</title>
    <link rel="stylesheet" href="css/page0.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <!--- main center panel for login ---->
    <div class="modal position">
        <div id='md-top-25' style="text-align: center;">
            <h2>
                LAD-Gen
            </h2>
        </div>
        <br/>       
        <!-- Selection form -->
        <form id="selection" action="/selection" method="post" class="mt-top-10 mt-left-25 wd-450 mt-bot-15 form1" style="text-align:center;">
           <button id="creatNew" name="button" value="create" class=" mt-top-25 mt-bot-25 btn">Create New</button></br>
           <button id="modify" name="button" value="modify" class="mt-bot-10 btn">Modify Existing</button>
        </form>
    </div>
</body>

</html>