<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAD-Gen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body ng-app="myApp" ng-controller="mainController" onload="init()">
    <div class="main-div" ng-show="mainTab.ioVisibility">
        <div class="cust-tabs">
            <div class="cust-tab active" ng-click="ioTabChange('input')">
                <div class="cust-tab-box fnt-palatino fnt-25 mt-top-5">Inputs</div>
            </div>
            <div class="cust-tab" ng-click="ioTabChange('output')">
                <div class="cust-tab-box fnt-palatino fnt-25 mt-top-5">Outputs</div>
            </div>
        </div>
        <div class="content" ng-show="ioTab.inpVis">
            </br>
            <div class="row">
                <div class="col-md-10 col-ls-10">
                </div>
                <div class="col-md-2 col-ls-2">
                    <button id="addInput" class="btn btn-success" ng-click="addInput()"><i class="fa fa-plus"></i></button></br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-ls-1">
                </div>
                <div class="col-md-10 col-ls-10">
                    <div class="scrollable">
                        <div class="row">
                            <div class="col-md-1 col-ls-1">
                            </div>
                            <div class="col-md-10 col-ls-10">
                                <div ng-repeat="i in inputs">
                                    <input type="text" placeholder="Input Name" class="field mt-bot-10" ng-model="i.name">
                                    <input type="text" placeholder="Input Tag" class="field mt-bot-10" ng-model="i.tag">
                                    <button id="deleteInput" class="btn btn-danger" ng-click="deleteInput(i.id)"><i class="fa fa-close"></i></button></br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" ng-show="!ioTab.inpVis">
            </br>
            <div class="row">
                <div class="col-md-10 col-ls-10">
                </div>
                <div class="col-md-2 col-ls-2">
                    <button id="addOutput" class="btn btn-success" ng-click="addOutput()"><i class="fa fa-plus"></i></button></br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-ls-1">
                </div>
                <div class="col-md-10 col-ls-10">
                    <div class="scrollable">
                        <div class="row">
                            <div class="col-md-1 col-ls-1">
                            </div>
                            <div class="col-md-10 col-ls-10">
                                <div ng-repeat="i in outputs">
                                    <input type="text" placeholder="Output Name" class="field mt-bot-10" ng-model="i.name">
                                    <input type="text" placeholder="Output Tag" class="field mt-bot-10" ng-model="i.tag">
                                    <button id="deleteOutput" class="btn btn-danger" ng-click="deleteOutput(i.id)"><i class="fa fa-close"></i></button></br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-div" ng-show="(!mainTab.ioVisibility) && (!mainTab.ladderVisibility)">
        <div id="scrollDiv">
            <canvas id="canvas" width="2000" height="4000">
                This text is displayed if your browser does not support HTML5 Canvas.
            </canvas>
        </div>
        <div id="canvas-menu" class="context-menu">
            <a class="context-menu-link" onclick="addObj('desc')">
                Add Decision Box
            </a>
            <a class="context-menu-link" onclick="addObj('rect')">
                Add Processing Box
            </a>
            <a class="context-menu-link" onclick="clearLines()">
                clear Connections
            </a>
        </div>
        <div id="object-menu" class="context-menu">
            <a class="context-menu-link" onclick="deleteCanvas()">
                Delete
            </a>
        </div>
        <form class="text-center" id="help" action="/help" method="post">
            <button name="button" type="submit" value="help" class="butn gene-button">Help</button>
        </form>
        <div id="input-select">
            <br/>
            <div>
                &nbsp;&nbsp;<span> Input Tag </span> &nbsp;
                <select id='in-tag' class="drop-down ">
                    <option ng-repeat="i in inputs">{{i.tag}}</option>
                </select>
            </div>
            <br/>
            <div>
                &nbsp;&nbsp;<span> State</span> &nbsp;
                <select id='in-state' class="drop-down ">
                    <option>OFF</option>
                    <option>ON</option>
                </select>
            </div>
            </br>
            <div class="text-center">
                <button type="button" class="butn" onclick="assignText('input')">OK</button>
            </div>
        </div>
        <div id="output-select">
            <br/>
            <div>
                &nbsp; &nbsp; <span> output Tag </span> &nbsp;
                <select id='out-tag' class="drop-down ">
                    <option ng-repeat="i in outputs">{{i.tag}}</option>
                </select>
            </div>
            <br/>
            <div>
                &nbsp;&nbsp;<span> State</span> &nbsp;
                <select id='out-state' class="drop-down ">
                    <option>OFF</option>
                    <option>ON</option>
                </select>
            </div>
            </br>
            <div class="text-center">
                <button type="button" class="butn" onclick="assignText('output')">OK</button>
            </div>
        </div>
        <div id="save-content" ng-show="saveComponents">
            <div class="text-center">
                <input id="progname" type="text" placeholder="Program Name" class="field mt-bot-10">
            </div>  
            <div class="text-center">
                <button type="button" class="butn-s mt-right-10" onclick="save()" ng-click = "saveSpaceClick()">
                    Ok
                    <i class="fa fa-check-circle"> </i>
                </button>
                <button type="button" class="butn mt-left-10" ng-click="saveSpaceClick()">
                    Cancel
                    <i class="fa fa-times-circle"> </i>
                </button>
            </div>
        </div>
        <div id="generate-button" class="text-center">                     
            <button type="button" class="butn-s gene-button mt-right-10" ng-click="saveProgram()" ng-disabled="saveComponents">
                Save
                <i class="fa fa-floppy-o"> </i>
            </button>
            <button type="button" class="butn gene-button mt-left-10" onclick="sendJson()" ng-click="mainTabChange('la')" ng-disabled="saveComponents">
                Generate
                <i class="fa fa-angle-right"> </i>
            </button>
        </div>
    </div>
    <div class="main-div" ng-show="mainTab.ladderVisibility">
        <div class="mt-top-10">
            <ul id="ladder-tab" class="tabcol">
                <li class="selected" ng-click="ladderTabChange('tr')"><a>Transactions</a></li>
                <li class="" ng-click="ladderTabChange('fn')"><a>Functions</a></li>
                <li class="" ng-click="ladderTabChange('out')"><a>Outputs</a></li>
            </ul>
            <div class="ladder-div" ng-show="ladderTab.transVisible">
                <div id="scrollDiv-ladder">
                    <canvas id="trans-canvas" width="2000" height="6000">
                        This text is displayed if your browser does not support HTML5 Canvas.
                    </canvas>
                </div>
            </div>
            <div class="ladder-div" ng-show="ladderTab.funcVisible">
                <div id="scrollDiv-ladder">
                    <canvas id="function-canvas" width="2000" height="6000">
                        This text is displayed if your browser does not support HTML5 Canvas.
                    </canvas>
                </div>
            </div>
            <div class="ladder-div" ng-show="(!ladderTab.transVisible)&&(!ladderTab.funcVisible)">
                <div id="scrollDiv-ladder">
                    <canvas id="output-canvas" width="2000" height="6000">
                        This text is displayed if your browser does not support HTML5 Canvas.
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <ul id="main-tab" class="tabrow">
        <li class="selected" ng-click="mainTabChange('io')"><a>I/0</a></li>
        <li class="" ng-click="mainTabChange('fc')"><a>FlowChart</a></li>
        <li class="" ng-click="mainTabChange('la')"><a>Ladder</a></li>
    </ul>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/flowChart.js"></script>
    <script src="js/ladder.js"></script>
    <script>
        $('.cust-tab').click(function(){
            $('.cust-tab').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    <script>
        function htmlDecode(input) {
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
        var user_name = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
        var prog_name = JSON.parse(htmlDecode("<%= JSON.stringify(name) %>"));
        var prog_obj = JSON.parse(htmlDecode("<%= JSON.stringify(obj) %>"));

        // If it is editing assign the program name for saving
        if(prog_name != '' && prog_name != undefined){
            document.getElementById("progname").value = prog_name;
            refreshObj();
        }
    </script>
    <script src="js/controller/angularCodes.js"></script>
</body>

</html>